label {
  float: left;
  clear: left;
  width: 250px;
  text-align: right;
  padding-bottom: 15px;
}
input {
  float: left;
  margin-left: 20px;
  width: 250px;
}

.form-group {
  height: 50px;
}

.error {
  color: red;
  margin-left: 10px;
}

#submit {
  margin-left: 270px;
  background-color: rgba(51, 48, 48, 0.212);
  width: 250px;
}
